@media screen (min-width: 320px) and (max-width: 1080px) {
  .form {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
  }
}

/* .form {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
} */

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-img-prev {
  max-width: 95%;
  height: 300px;
  border: 1px solid lightgray;
  margin-top: 20px;
}

.form-input-box {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto;
}

.form-text-box {
  width: 90%;
  margin: 3px auto 10px;
}

.form-text-box > p {
  margin: 0 0 7px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-family: "Open Sans", "Courier New", Courier, monospace;
  font-size: 12px;
}

.form-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}
